[2018-02-23 03:53] rubensworks opened #2 "Transform functions do not maintain autoStart flag"
Consider the following example:
[code]

As the `autoStart` parameter of `it` is set to `false`, no elements will be buffered until a data listener is attached.
However, when the iterator is transformed (for example using `map`), then this `autoStart` parameter is not inherited.

For this example, the following output will be produced:
[code]

The expected behaviour would be that no elements are pr

[2018-02-24 13:49] RubenVerborgh commented on #2
I've been thinking a bit about this, and I'm not sure what the desired behavior is:

1. On the one hand, one could argue that, since the source stream is started lazily, so should the transformed stream.

2. On the other hand, one could argue that, by calling `transform` on the source stream, you are essentially starting it.

I started thinking that this second behavior is actually more natural.
S

[2018-02-25 00:26] rubensworks commented on #2
I think both options make sense.

I'm now just thinking from the view of Comunica, where streams may potentially be very expensive to start (HTTP requests). In comunica, we create these streams lazily, and apply transformations on them. The most logical thing in this case would be that streams start producing streams from the moment they actually become required, as there are cases where they migh

[2018-02-25 15:27] RubenVerborgh commented on #2
So this is currently already implemented in `.transform`, to which you can pass an `autoStart` option. So instead of `.map(f)`, just call `.transform({ map: f, autostart: false })`. Would that already help?

I would add this to the `.map` method as well, but its signature is problematic. Currently, the signature is `#map(callback, self)` to mimic the corresponding `Array` method. However, I expect

[2018-02-26 00:05] rubensworks commented on #2
Yes, that would actually work, not sure why I didn't do this initially...

A `lazyMap` might indeed be nice to have, but not essential with with `transform` workaround.

[2018-02-26 09:01] RubenVerborgh commented on #2
Okay, thanks!

[2018-02-26 09:01] #2 closed

[2018-03-19 16:49] udp opened #4 "Do cloned iterators share properties with the iterator they cloned?"
e.g. in this situation:

    itA = itB.clone()
    itB.getProperty('foo', callback)
    itA.setProperty('foo', 123)

Should I expect the callback for getProperty on itB to fire with the value I set on itA?

[2018-03-19 16:50] RubenVerborgh commented on #4
Yes, that is the expectation. Does that work for you?

[2018-03-19 16:54] jamesamcl commented on #4
I checked and yes, it does work.  Just trying to get my head around this library; it would be nice to have more information about properties in the documentation.

[2018-03-19 16:54] #4 closed

[2018-03-19 17:09] RubenVerborgh commented on #4
Great! Feel free to get in touch if you want to know more about how and why.

We mainly use it for our query engine implementations (https://github.com/LinkedDataFragments/Client.js/, https://github.com/comunica/comunica/). In general, it is the fastest solution to stream objects around in Node.js (compared to streams and async generators).

[2018-03-19 17:11] RubenVerborgh opened #5 "Improve documentation on properties"
As mentioned in #4, the property mechanism is currently not documented.

[2018-06-21 07:49] rubensworks opened #6 "Closing/destroying sources when done"
In https://github.com/comunica/comunica/issues/144, we discussed adding a `closeSourceWhenDone` (_defaults to `true`_) to `TransformIterator `. This would make the transformed iterator call `close()` on its source when the transformed iterator has ended.

While this would work in practise, it may not be the cleanest solution, as `Readable#close` is not part of the [official interface](https://node

[2018-06-21 16:01] RubenVerborgh commented on #6
It seems that `destroy` has stronger semantics than `close`.

### destroy

### close

Already generated items or terminating items can still be emitted. After this, the iterator will end asynchronously.

Our options:
- implement an actual `destroy` on `AsyncIterator` (no real necessity, and can have some complexities)
- assume the existence of `close`
- try `close`
- try `close`, fall back to `des

[2018-06-21 16:09] rubensworks commented on #6
I think this first option would be the most robust, and it strictly uses defined methods.

This last one might also be a good possibility, but I'm afraid that this may result in unexpected situations depending on the type of source streams.

In any case, it's your library, so it's your call in any case 😉

[2018-06-21 19:54] RubenVerborgh commented on #6
Yes, but adding a `destroy` method to this library with all the guarantees that come with it, might be complicated. I don't think it's easy to guarantee in general that destroyed iterators do not emit anything anymore, without adding checks that would slow down things. Technically speaking, we'd have to jump from `OPEN` to `ENDED` state, skipping `CLOSING` and `CLOSED`.

Well, you'll be the one im

[2018-06-26 13:46] rubensworks commented on #6
To summarize our offline talk:

Node documentation on `destroy`:

This makes it seem like `destroy` can do the cleanup _asynchronously_, which makes it possible to just implemented it like a `close` that will not emit any more elements, and will therefore not emit the `end` event anymore.

## Properties of all states

The following tables summarizes all current asynciterator states in terms of the

[2018-06-26 14:06] RubenVerborgh commented on #6
Currently, iterators always eventually are `ended`. Your proposal introduces a separate `destroyed` state that invalidates that assumption.

I think that makes sense, given that a destruction is not a proper ending.

Maybe it makes sense to have `DESTROYED = 5` (given that `ENDED = 4`), and introduce a `.done` property with `_state >= ENDED`.

Then the new situation is that iterators always end up

[2018-06-26 14:57] rubensworks commented on #6
👍

I think that would make sense. In most cases, silently failing a push is acceptable behaviour I guess. If users still want an explicit check, they'd have to do it themselves.

[2018-06-26 15:01] RubenVerborgh commented on #6
Yeah, and that function not throwing will probably be better for performance too. Will be a major version change then though.

So how about we just surround everything with a `if (!this.done)` then?

In any case, green light to proceed with a PR in this way.

[2018-06-26 15:03] rubensworks commented on #6
Yep, that should work!

Will continue working on it tomorrow :-)

[2018-07-04 12:51] RubenVerborgh commented on #6
Following up in #7.

[2018-07-04 12:58] rubensworks commented on #6
Maybe this shouldn't be closed just yet. #7 was just a part of this, the auto-closing has not been implemented yet, #7 was a requirement for that.

[2018-07-04 12:58] RubenVerborgh commented on #6
Right.

[2018-07-04 13:08] #5 closed

[2018-07-05 11:00] rubensworks commented on #6
Implemented in #8

[2018-07-05 11:00] #6 closed

[2018-09-11 19:34] jacoscaz opened #9 "How to .pipe() into array?"
When using `AsyncIterator` as a lighter alternative to streams within a project's internals, how should I approach returning something that can be `.pipe()`-ed into a `stream.Writable`? I've tried wrapping iterators via a custom extension of `stream.Readable` but I wonder if there's a more elegant way...

[2018-09-11 19:38] RubenVerborgh commented on #9
There's no piping on purpose, because piping comes with two-way congestion control, whereas AsyncIterator is pull-only. (This is how we get the performance gains.)

If your consumer is fast enough, you can always simply `src.on('data', d => dest.write(d))`, but I assume this is what you want to avoid?

[2018-09-12 08:49] jacoscaz commented on #9
Oh yes, I understand where the performance gains come from and that is exactly why I'd rather use `AsyncIterator` instead of streams internally. However, externally, compatibility with streams often implies supporting `.pipe()` and I am trying to find the best way to implement that.

Short of coming up with an iterator-specific implementation of `.pipe()`, `.unpipe()` and whatever else `stream.Rea

[2018-09-12 09:02] RubenVerborgh commented on #9
The general approach is definitely what you need.

I've looked at your implementation for a while, and I can't poke any holes into it. I like the `reading` guard you've put in.

Another way to achieve the same thing would be to attach a `data` listener whenever `_read` is called, and detach that listener whenever `this.push` returns `false`. That would save you from implementing the `readable` log

[2018-09-12 09:13] jacoscaz commented on #9
I did think about suggesting that as it would complement the `.wrap()` method that is already in there. However, this would create a hard dependency on either the native `stream` module or `readable-stream`, which would make browser bundles balloon in size quite a bit.

I appreciate you having a look at that. I also understand your suggestion but can't quite tell which of the two would be the bett

[2018-09-12 09:43] rubensworks commented on #9
I've managed to use the on-data approach any time I needed to pipe into a Writable. But I agree, a pipe-like functionality, or an `.unwrap()` would be nice to have.

Regarding the browser bundle size issue, this functionality could be part of a standalone package.

[2018-09-12 09:45] RubenVerborgh commented on #9
Right, thanks for reminding me of the reason why I haven't done that.

Typically the one that reuses most code, since asynciterator is heavily tested. One of the doubts with your implementation might be the loop, which could block everything else on the thread.

Quick and untested stab at the code:

[code]

[2018-09-12 09:45] #9 closed

[2018-10-01 09:02] jacoscaz opened #10 "Support for TC-39's async iteration proposal?"
Would it be possible to extend `asynciterator` to support [TC-39's async iteration proposal](https://github.com/tc39/proposal-async-iteration)? It is starting to be implemented by browsers and has landed as a new way to consume streams in Node.js 10.x .

[2018-10-01 09:38] RubenVerborgh commented on #10
I might add interface support, but (and this is a bit but) async iteration is a lot slower than asynciterator. It has been a deliberate choice to develop asynciterator, even though the asyc iteration effort was going on, for performance reasons.

So while you could then `for await` over an AsyncIterator, it would not be the preferred way in performance-critical applications.

My colleague @joachim

[2018-10-01 09:52] jacoscaz commented on #10
@RubenVerborgh I see! Thank you for pointing me to that.

[2018-10-01 12:33] #10 closed

[2018-10-06 10:16] slikts commented on #10
The linked comment seems to talk about testing the transpiled versions of async generators, though; the native performance should be better.

[2018-10-06 14:45] RubenVerborgh commented on #10
@joachimvh Do we have native performance tests?

[2018-10-08 09:39] joachimvh commented on #10
I just removed the transpilation step now and it did improve but is still much slower than AsyncIterator (usual disclaimer of this not being the most extensive tests ever etc.)

[2018-11-23 15:09] pietercolpaert opened #11 "Feature request: merge multiple async iterators"
A function `merge` on an AsyncIterator would be a great tool to e.g., merge sort different iterators:
[code]

Which element is emitted next is based on a boolean condition.

[2018-11-23 15:10] RubenVerborgh commented on #11
I think @rubensworks made a library that does this. Might be able to steal that code.

[2018-11-23 15:37] rubensworks commented on #11
Yes, I made [asynciterator-union](https://www.npmjs.com/package/asynciterator-union), which takes the union of two streams, but it doesn't do sorting.
It should not be too hard to extend it with a comparator-based iterator though.

(Note to self: we may need a new abstraction, where both `RoundRobinUnionIterator` and `MergeSortUnionIterator` extend from it)

[2018-12-05 11:40] LaurensRietveld commented on #10
Perphaps relevant for this discussion: node 10 has (experimental) support for using a readable stream as an async iterator. This would not solve any possible performance issue, but it could mean we wouldnt have to implement an async iterator interface _and_ a streaming interface.

[2019-06-04 12:54] JordanShurmer opened #12 "README: mention necessity of setImmediate shim for browsers"
# Overview

This library makes heavy use of `setImmediate`, which is a non-standard (at apparently never will be standard) api. See the mdn docs: https://developer.mozilla.org/en/docs/Web/API/Window/setImmediate

I feel like this should be addressed, but am also curious why this has not already come up as an issue. Perhaps all downstream users of this just use the `setimmediate` npm package polyfi

[2019-06-04 13:01] RubenVerborgh commented on #12
webpack takes care of this: https://webpack.js.org/configuration/node#nodesetimmediate

https://javascript.info/microtask-queue

[2019-06-04 13:37] JordanShurmer commented on #12
Interesting, I hadn't come across this feature of webpack yet.

The problem is I'm trying to use this in a project that does not use webpack. I've added the `setimmediate` package as a dependency directly and `require`d it, but it'd be nice if this wasn't necessary. I suppose the README could be updated at least for now, to indicate that this is necessary

[2019-06-04 13:40] RubenVerborgh commented on #12
Ha, I just remembered that we actually used to have it:
https://github.com/RubenVerborgh/AsyncIterator/commit/37f546033a9440cf45b994d980ef604cec38233d

But the complaint was that this took away people's liberty to use another shim.

+1

[2020-01-31 10:15] rubensworks opened #13 "Performance in browsers"
In https://github.com/comunica/comunica/issues/561, we identified AsyncIterator as (one of) the main cause of slowdown in query performance.
While Asynciterator is very fast in Node.js, it is orders of magnitude slower in browsers such as Chrome.
The cause of this seems to be the extensive usage of `setImmediate` in AsyncIterator, which is fast in Node.js, but not in browsers (due to shims).

I've

[2020-01-31 13:15] rubensworks commented on #13
`setImmediate(emit, this, 'readable')` appeared to be the main problem here.

I did some minor adjustments to squash nested `setImmediate` into one large `setImmediate` call in https://github.com/rubensworks/AsyncIterator/commit/841f206a3853a298095c634b1a290e68ef6e2140.

@RubenVerborgh Could you have a look at this?
If you think this type of solution is ok, I'll clean up things, and test on some l

[2020-01-31 14:22] RubenVerborgh commented on #13
Thanks @rubensworks, will study this in detail.

Very interesting; do you have numbers to share?

Coincidentally, one of the design considerations in asynciterator was to fix a problem in the old internal iterators within ldf-client, where an explicit state was not kept. As such, in that implementation, the `readable` event would be fired much more than needed. By keeping an explicit state, we can

[2020-01-31 15:10] rubensworks commented on #13
I didn't count, but it looked like almost every iterated element resulted in a readable event, which then caused a buffer refill call, all behind setImmediate's.

My commit does not change the number of events though, so there doesn't seem to be a performance issue with them.

I haven't looked at it in detail, but I think that multiple readable events may be emitted for the same data element (not

[2020-01-31 15:11] rubensworks commented on #13
FYI, if you want to run the performance tests in my fork, you can execute `npm run perf` and `npm run perf-browser`.

[2020-02-05 13:03] rubensworks commented on #13
I've added some measurements on `BufferedIterator` in 93d0e8f61c5a289820f5dd81deb4fcefbafb0f33.

The performance difference seems to be still apparent here, especially when the number of stream elements is small:

### Node

[code]

### Browser

[code]

[2020-02-05 13:18] RubenVerborgh commented on #13
Interesting. Can we also log number of setImmediate calls?

[2020-02-05 13:54] rubensworks commented on #13
bd5c111577531d68c0786cbad4ee2d4c5dd5d9bc now logs the number of `setImmediate` calls.

(only logs in Node.js)

### Transform

[code]

### Buffered

[code]

To me, it looks like the number of `setImmediate`'s definitely influences the times in browsers, especially for the `BufferedIterator` case. I'll have a look at possible performance improvements now...

[2020-02-05 14:14] rubensworks commented on #13
For reference, the problem with the `BufferedIterator` seemed to be caused by the number of end events: 539352a9cb305348d8bd54eafa0aba6e20efc910.

With this change, the number of `setImmediate` calls is very slow, and the performance difference between Node and browser is minor:

### Node

[code]

### Browser

[code]

[2020-02-05 14:17] RubenVerborgh commented on #13
Very interesting. Maybe we should look into whether ending async is desired at all (we can do semver major).

[2020-02-05 14:24] rubensworks commented on #13
Perhaps async ending can remain, and we can just refactor this part a bit:
[code]

So that `endAsync` will only invoke a `setImmediate` if the iterator has not ended yet.
Because right now, this function can be called many times after each other, which caused the many `setImmediate`'s

[2020-02-05 14:27] RubenVerborgh commented on #13
If and end has not been _scheduled_ yet?

Does that happen commonly?

[2020-02-05 14:31] rubensworks commented on #13
Hmm yes, the refactor may not be so trivial. We may need a new `'ENDING'` state for this.

Yes, 252 times for 1000 elements and 1 transformers to be exact.

[2020-02-05 14:32] RubenVerborgh commented on #13
Very weird; I wonder if that's a bug.

`ENDING` state is fine with me (semver major).

[2020-02-05 14:43] rubensworks commented on #13
Ok, this was surprisingly easy, done in 92539e506459e896a5d87f2746051d27462f913b.
Did not break any tests, but we may want to consider adding additional tests for this later on.
Performance in browser remains as good just like before.

[2020-02-05 14:53] rubensworks commented on #13
I just had a look at the failing tests in [my branch](https://github.com/rubensworks/AsyncIterator/tree/profile/browser).
Some tests have been fixed. A few others still fail, but I *think* those should be rewritten based on the internal changes.

@RubenVerborgh I'll hand this over to you know to see whether or not my changes make sense, and to check if the failing tests should actually fail :-)

[2020-02-05 14:59] RubenVerborgh commented on #13
Good codebase 😛

Will do.

[2020-03-02 16:37] RubenVerborgh commented on #13
I have created a branch `feature/performance` that contains all measurement scripts. I'll now evaluate each of the proposed solutions one by one to see which one(s) we need.

[2020-03-02 17:15] RubenVerborgh commented on #13
In db25c5a073e9b5820260b6d59c67152d05d76ba7, I've identified the contribution of different reasons for calling `setImmediate`. Number 4 will shock you.

[code]

[2020-03-02 17:16] RubenVerborgh commented on #13
Does the above contradict your earlier statement?

[2020-03-02 17:35] RubenVerborgh commented on #13
Regarding whether double emissions of the `end` event happen _often_, I note for the `TransformIterator` benchmark that 342 iterators are created and 666 asynchronous ends are requested. It's probably not a coincidence that 666 is twice the number of `BufferedIterator` inits at 333. I wonder if there is an error in the logic which causes them to be ended twice, or whether it is a deliberate safety

[2020-03-02 20:55] RubenVerborgh commented on #13
In any case, https://github.com/rubensworks/AsyncIterator/commit/92539e506459e896a5d87f2746051d27462f913b with the addition of `ENDING` seems like the right decision. So incorporating that for sure.

[2020-03-02 21:52] RubenVerborgh commented on #13
@rubensworks A logical conclusion from the above is to buffer synchronously instead of asynchronously.

The idea was to make `BufferedIterator#read` return as soon as possible, and schedule a refill of the buffer after the method had returned. However, it might actually be better to pay the waiting cost of buffering while reading, and thus avoid the scheduling overhead.

I have tried this idea in

[2020-03-03 08:01] rubensworks commented on #13
Great clickbait 😛

Yes, that was my initial thought, which appeared to be incomplete.

What is the performance diff between Node and browser in your branch at the moment?
Are the current changes sufficient to make the overhead in browsers insignificant?

Through [this commit](https://github.com/rubensworks/AsyncIterator/commit/841f206a3853a298095c634b1a290e68ef6e2140), I also noticed significant p

[2020-03-03 09:09] RubenVerborgh commented on #13
#### Performance before (Node / Browser, Transform / Buffer)

[code]

#### Performance after (Node / Browser, Transform / Buffer)

[code]

So not only does it make the browser faster, it makes Node faster too.
But we should ensure there is sufficient external validity to these findings, that it's not just on those two benchmarks.

Getting close, but there's apparently still some more we want to sq

[2020-03-04 15:00] rubensworks commented on #13
Ok, I did some testing in Comunica.

The good news: all tests still pass, so there seem to be no breakages.

The bad news: performance in browsers has not been improved that much.
I executed the following query in Node and Chrome.
After the change, there is a slight performance improvement for both, but browser is still 10x slower.

**Query:**
[code]

**Before:**
| Iterations | Node       | Browse

[2020-03-04 15:02] RubenVerborgh commented on #13
Could you run `logTrackedEvents` to understand why? Perhaps there are many more `end` events here.

Can I easily run this test above, so I can add more logging and insights?

[2020-03-04 15:20] rubensworks commented on #13
`logTrackedEvents` with 1 iteration:
[code]

`logTrackedEvents` with 10 iterations:
[code]

So the majority appears to be caused by readable events like before, but still quite a lot in the other places as well.

Nothing as clean as I've setup for AsyncIterator unfortunately.
This branch can be used for testing, but it involves some manual steps to get the browser part working (see latest commit i

[2020-03-04 15:31] RubenVerborgh commented on #13
OK. so seems the test cases are not representative for the scenario we have. (Nonetheless, I think they are good cases and would keep the outcomes.)

Perhaps would be good to have such cases indeed; I'd also like to understand what is so specific about the Comunica scenario that we hadn't captured. With some tracing, we should be able to understand _why_ so many readable events are being fired. It

[2020-03-04 15:37] rubensworks commented on #13
👍

Are you able to look into this? If not, I can try to do it later this week, or next week.

Also, Comunica also makes use of [asynciterator-promiseproxy.js](https://github.com/rubensworks/asynciterator-promiseproxy.js/blob/master/lib/PromiseProxyIterator.ts) and [asynciterator-union.js](https://github.com/rubensworks/asynciterator-union.js/blob/master/lib/RoundRobinUnionIterator.ts). Both _shoul

[2020-03-04 15:42] RubenVerborgh commented on #13
Would be great if you could set up test cases; happy to help look at possible causes and fixes.

No `setImmediate` there. Perhaps what we want to do is shim `setImmediate` to `setTimeout` and see if performance in Node and browser is the same, just so we're sure there's no other cause.

[2020-03-05 12:33] rubensworks commented on #13
Another clue:

The query I ran before requests ~600 pages, and creates at least one new iterator for each page.

When I measure all asynciterators that are created, I get the following types (with their number of instantiations):
[code]

[2020-03-05 13:14] rubensworks commented on #13
Based on my last comment, my suspicion is that `MultiTransformIterator` are at the root cause of this (or at least the creation of _many_ AsyncIterators). So I setup some additional measurements in https://github.com/rubensworks/AsyncIterator/commit/37d0cdf0c49bb7ee678d743ae35293a00b44b10a.

Node:
[code]

Browser:
[code]

[code]

Of course, this is a very extreme case, so I we probably should not

[2020-03-05 13:22] rubensworks commented on #13
For reference, some critical parts in Comunica that heavily make use of AsyncIterator:
* [Handling BGPs](https://github.com/comunica/comunica/blob/master/packages/actor-query-operation-bgp-left-deep-smallest/lib/ActorQueryOperationBgpLeftDeepSmallest.ts#L44-L56)
* [Dereferencing for QPF](https://github.com/comunica/comunica/blob/master/packages/actor-rdf-resolve-hypermedia-qpf/lib/RdfSourceQpf.ts#

[2020-04-04 20:25] RubenVerborgh commented on #13
OK, we seem to have a deeply nested function stack where a `MultiTransformIterator` recursively calls its own `_read`. Was masked because the recursive calls happen through `setImmediate`.

[2020-04-04 21:20] RubenVerborgh commented on #13
@rubensworks So I was able to cut back the number of `setImmediate` calls drastically by:

1. Not emitting `readable` on start (01bb2f224e558f859283d7bec47fe98babe2a25c)
2. Ending synchronously (c30f1b18e6e6d77787d154688b10863408301435)
3. Not insisting on filling the buffer all the way (aa90d2277a50e297c01c243d829dcad4123b5363)

Alterations 1 and 2 change the semantics of events. However, they mi

[2020-05-13 11:39] rubensworks commented on #13
I was finally able to test these changes in Comunica.
Unfortunately, alternation 4 seems to have broken things, as I get no results from my query anymore.
So I did the experiments using Alterations 1-3.

**Query:**
[code]

**Before:**
| Iterations | Node       | Browser     |
| ---------- | ---------- | ----------- |
| 1          | 1636.558ms | 4658ms      |
| 10         | 3058.392ms | 17262ms

[2020-05-15 07:52] RubenVerborgh commented on #13
I did indeed.

The problem is that I am optimizing to the benchmark, but not to Comunica.
And there is no real correlation at the moment.

So the main thing to do for me is to test this in Comunica, preferably the smallest relevant build.
The main thing where you can help is by setting up such an environment, and then I can likely take it from there.

---

As far as the contents go, I think the co

[2020-05-15 08:00] rubensworks commented on #13
The main thing where you can help is by setting up such an environment, and then I can likely take it from there.

Would the scripts I added in https://github.com/comunica/comunica/commit/4ced255f105ba37d0bd3814d533a79c8d0ad2f64 be usable for you?
It should be possible to do something with puppeteer, but due to the long webpacking times of comunica, it may be better if we keep this as a separate m

[2020-05-15 09:19] RubenVerborgh commented on #13
I see some opportunities in using the microtask queue rather than the microtask queue.

Could you try the following?

[code]

I still have some termination problems with tests, but they might just be test problems due to the changed semantics.

[2020-05-15 09:26] RubenVerborgh commented on #13
And we _need_ to check:
- https://developer.mozilla.org/en-US/docs/Web/API/WindowOrWorkerGlobalScope/queueMicrotask
- https://nodejs.org/api/globals.html#globals_queuemicrotask_callback

[2020-05-15 09:40] RubenVerborgh opened #14 "Use microtasks instead of macrotasks"
Expected to address https://github.com/RubenVerborgh/AsyncIterator/issues/13

[2020-05-15 10:01] RubenVerborgh commented on #14
And there's a shim: https://www.npmjs.com/package/queue-microtask

[2020-05-15 11:00] rubensworks commented on #13
It looks like the performance improvements with this Promise trick are the same as with your alterations.

**Before:**
| Iterations | Node       | Browser     |
| ---------- | ---------- | ----------- |
| 1          | 1636.558ms | 3707ms      |
| 10         | 3058.392ms | 18728ms     |

**After:**
| Iterations | Node       | Browser     |
| ---------- | ---------- | ----------- |
| 1          | ER

[2020-06-03 21:55] RubenVerborgh commented on #14
Done in e882cf6fd0d2c8b7ce33679a42e0128a04772062.

[2020-06-03 21:55] #14 closed

[2020-06-03 21:56] #13 closed

[2020-06-15 21:38] RubenVerborgh commented on #12
v3.x will use `queueMicrotask`

[2020-06-15 21:38] #12 closed

[2020-06-15 21:38] #11 closed

[2020-06-16 15:47] RubenVerborgh commented on #11
Now also available in this library itself: f405a7d201a1a82d5dd25bdb3c3209b89241f84f

[2020-06-17 14:32] RubenVerborgh commented on #13
For posterity:

@rubensworks and myself have looked more into the issue, it seems that using a microtask solution for call order scheduling (as opposed to `setImmediate`) yields better performance in Node, and brings browsers down to a reasonable level. Browsers still seem to have a slower task queue implementation than Node.js, but at least the difference is much more manageable.

Bringing down t

[2020-06-20 08:07] RubenVerborgh opened #16 "Allow source to be passed as a lazy creation function"

[2020-06-20 08:08] RubenVerborgh opened #17 "Allow (globally) setting the microtask implementation"
Will be needed to prevent browser freezes (https://github.com/solid/query-ldflex/issues/45#issuecomment-646120333)

[2020-06-20 08:20] RubenVerborgh commented on #17
@rubensworks The problem with using `queueMicrotask` is that it precedes browser rendering, i.e., it behaves as if it is one long continuous piece of code.

An way around this, is to use a wrapper function that makes every 1 in 100 (or so) calls a `setImmediate` / `setTimeout` call.

Such unpredictable behavior is of course hard for tests, so I would switch it off by default.

However, the questio

[2020-06-21 19:36] RubenVerborgh opened #18 "Add autoStart to ArrayIterator"

[2020-06-21 20:20] #16 closed

[2020-06-21 20:59] #18 closed

[2020-06-22 07:20] rubensworks commented on #17
A wrapper to make every 1 in x calls a setImmediate or so sounds like a good idea. I also ran into problems related to this during testing (which will most likely also occur in production).

I would consider enabling this wrapper by default, but provide the functionality to disable/adjust this. Developers could then easily make use of this lib with a sane default config that works in most situatio

[2020-07-03 07:46] rubensworks opened #19 "Support autoStart: false on UnionIterator"
The new UnionIterator does not yet support `autoStart: false`, which makes it impossible to take a lazy union over sources that are themselves also lazy.

[2020-07-03 22:11] #19 closed

[2020-07-04 09:37] rubensworks commented on #19
Thanks! :)

[2020-07-04 15:46] #17 closed

[2020-08-08 08:07] Vinnl opened #20 ".mjs module fails in Webpack"
I haven't completely gotten to the bottom of this yet, but I think the problem lies in this package - so reporting in case it rings a bell for you.

When I generate a new app using Create React App, then import a module that brings in AsyncIterator (`@solid/query-ldflex`, in this case), I get the following error:

    ./node_modules/asynciterator/asynciterator.mjs
    Can't import the named export

[2020-08-08 13:18] RubenVerborgh commented on #20
Yeah, so we’re using the new `module` field from Node. But not all tooling seems to be ready for it. Can you force webpack to use the .js instead of .mjs (both are included)? On mobile now, but the event thing is a known issue with Node/webpack.

Might need to wait with using the `module` field, and release a new version that doesn’t. Also looping in @rubensworks.

[2020-08-08 13:21] rubensworks commented on #20
Yeah, we ran into the same problem in Comunica. This webpack config provides a workaround: https://github.com/comunica/comunica/blob/master/packages/actor-init-sparql/webpack.config.js#L20-L23

[2020-08-08 14:40] Vinnl commented on #20
Isn't Node's field `export`? In other words, would it be possible to have `module` point to the `.js`, and use `exports` for the `.mjs`? Having to modify the Webpack config is quite a big ask of people using a metaframework like Create React App or Next.js, which otherwise handles that config for you.

[2020-08-08 16:13] RubenVerborgh commented on #20
`export` indeed, but the whole point of `module` is to be an ES6 module. I’m also not in favor of having to modify webpack configs; maybe I can either remove the whole module thing, or provide a separate `module` for webpack with the event thing fixed.

[2020-08-09 09:57] Vinnl commented on #20
Either would be great!

[2020-08-09 13:17] sroertgen commented on #20
is there any chance of a quick fix? I'm running into the same problem. I really would like to use `@comunica/actor-init-sparql` in my react-app, but get the same mentioned error.

[2020-08-09 15:33] RubenVerborgh commented on #20
Fix coming in the next couple of days.

[2020-08-12 08:54] #20 closed

[2020-08-12 09:04] RubenVerborgh commented on #20
Based on @rubensworks' fix, I have published v3.0.1 where the `.mjs` extension is no longer used.

[2020-08-12 09:18] Vinnl commented on #20
Thanks @rubensworks and @RubenVerborgh! I can confirm that I can now load `@solid/query-ldflex` into a CRA app again.

[2020-08-12 09:19] RubenVerborgh commented on #20
Super, thanks for reporting and the quick test!

[2020-08-12 09:29] RubenVerborgh commented on #20
For future reference: the .mjs/.cjs strategy came from https://nodejs.org/docs/latest-v14.x/api/esm.html#esm_writing_dual_packages_while_avoiding_or_minimizing_hazards, which is thus not a good idea to follow at this point in time.

[2020-08-19 08:59] RubenVerborgh opened #21 "Do we need to emit a close event?"
See https://github.com/solid/community-server/pull/60#discussion_r472870632

[2020-09-18 08:00] rubensworks opened #22 "Chained transformations make empty iterators un-lazy"
When transforming an empty lazy stream, the final stream becomes un-lazy.
This makes it so that the end-event can be emitted before any listeners can be attached.

Minimal reproducible example:
[code]

[2020-09-23 08:45] #22 closed

[2020-09-23 12:34] rubensworks opened #24 "Lazy transform and union iterator never start"
In https://github.com/comunica/comunica/pull/733, I discovered that some other queries started freezing (that didn't freeze before) since asynciterator version 3.0.2.

Related to #22.

Minimal reproducible example:
[code]

It looks like the transform buffer is being filled partially, but its elements are never propagated upwards for some reason.

[2020-09-25 11:50] #24 closed

[2020-09-25 11:51] RubenVerborgh opened #25 "Consider removing autoStart, or at least disabling it by default"

[2020-09-25 11:55] RubenVerborgh commented on #24
Thanks for reporting, fixed in v3.0.3
<img src="https://cdn.dribbble.com/users/172091/screenshots/2949448/tb303_roland.jpg" width=100>

[2021-02-11 14:30] rubensworks opened #26 "Cloning not inheriting autoStart: false"
When a lazy (empty) iterator is cloned, it seems to consume the iterator eagerly, which makes it so that `'end'` events can be lost.

Minimal reproducible example:
[code]

[2021-03-01 07:49] rubensworks commented on #25
Related to this. If we invoke `transform` on an iterator with `autoStart` set to `false`, should this new iterator inherit `autoStart: false`?
(This seems to be not the case at the moment)

[2021-03-28 10:25] #26 closed

[2021-06-17 14:13] RubenVerborgh opened #28 "Current task scheduler does not guarantee order"
The snippet at https://github.com/RubenVerborgh/AsyncIterator/blob/668697c568484881f663b786e0b6a037c2cd5ab3/taskscheduler.ts#L13-L21 can result in out-of-order execution when a microtask is scheduled before `setTimeout` has occurred.

[2021-07-11 15:20] RubenVerborgh commented on #28
@rubensworks Could you test if https://github.com/RubenVerborgh/AsyncIterator/tree/fix/task-order does not break anything? This should be the final guard before #29 can be released. (It's weird that we have not run into out-of-order bugs yet.)

[2021-07-14 02:10] jeswr opened #30 "[Feature] Overload filter type"
I think it would be quite useful to have an overload on the filter method for the asyncIterator that is

[code]

This would then allow use in cases such as the following:

[code]

[2021-07-14 10:05] RubenVerborgh commented on #30
Good idea, yes!

We probably just need to add that single line then? Happy to take a PR.

[2021-07-14 11:18] #30 closed

[2021-07-19 13:59] rubensworks commented on #30
I just noticed that this breaks a bunch of things in Comunica.
I suspect this is because the overloaded method disappears after compilation.

The compiled `.d.ts` file only contains the following now:
[code]
While it should contain:
[code]

Overloads always felt a bit shaky to me, so I've never used them myself, and therefore I have no solution at hand for this.
@jeswr Any idea what may be going w

[2021-07-19 14:05] RubenVerborgh commented on #30
@rubensworks I think we explicitly need to add the main function signature too.

[2021-07-19 14:08] jeswr commented on #30
Yeah that's my bad, pretty sure it should be

[code]

Might be worth upgrading the tests to TS at some stage to catch this kind of thing.

[2021-07-19 14:12] rubensworks commented on #28
Everything seems to work fine! (aside for #30 that is)

[2021-07-22 07:35] #28 closed

[2021-07-22 07:35] RubenVerborgh commented on #28
Thank you!

[2021-12-31 02:48] jeswr opened #35 "[Possible bug] Empty iterator does not work after `await`"
The `empty` iterator does not emit events if something has been `await`ed after its instantiation - for instance, the following tests time out

[code]

whilst the following works

[code]

[2021-12-31 03:48] jeswr commented on #35
I've added some more tests with the behavior I would expect [here](https://github.com/jeswr/AsyncIterator/tree/fix/empty-iterator-await) - but haven't yet had the time to find the root cause of the issue (and not sure if I will anytime soon unfortunately).

All of the tests on this branch pass `npm run test:immediate`

[code]

[2021-12-31 07:39] rubensworks commented on #35
I suspect you're running into an autoStart issue (see some of the closed issues here).
By default, asynciterators will start automatically after creation.
That means that if the iterator is empty, it will immediately end, so end-events may be emitted before listeners are attached.

There is an issue to change this behaviour: #25.

[2022-02-14 05:15] jeswr commented on #25
As I mentioned in https://github.com/comunica/comunica/issues/907 - it may be useful have this change made prior to the v2 release of Comunica. @rubensworks you noted that "making this change in AsyncIterator might not be trivial." - what kind of problems are you envisioning?

[2022-02-14 07:08] rubensworks commented on #25
Not sure. I just remember spending a lot of time debugging things related to `autoStart` :-)
But if everything related to `autoStart: false` works properly now, then it should just be a matter of flipping the default value.

@RubenVerborgh might also have some thoughts about this.

[2022-02-14 08:05] RubenVerborgh commented on #25
I'm happy to have this change—is there still time? Can release as a v4.0.0-beta first.
It might be quite some precision work though in the tests etc.

[2022-02-14 08:13] rubensworks commented on #25
Also wondering about time. I hope to enter beta testing for Comunica 2.x later this week.

[2022-02-14 08:49] jeswr commented on #25
If we release the beta of asynciterator today I can spend tommorow seeing trying to upgrade comunica - if it's too hard/time consuming then we can just leave it out?

[2022-02-14 08:58] rubensworks commented on #25
Sounds good to me, if you think it's feasible to flip the default value of `autoStart` here in such a short time.

[2022-02-15 10:36] jeswr commented on #35
So in doing working on https://github.com/RubenVerborgh/AsyncIterator/pull/36 I've discovered that this issue is not entirely resolved by changing the `autoStart` to be false by default since the `EmptyIterator` does not actually have an `autoStart` parameter.

In particular the bottom two of these following tests fail

[code]

[2022-02-15 11:58] jeswr commented on #35
I'm thinking there are 2 solutions here
 - (1) Add a waitForEndListener similar to the `waitForDataListener`
 - (2) Inside `AsyncIterator` add the following methods, and call `_start` whenever `_sourceStarted` is set to true. Though this could mean that the end event is still called early if there is `awaiting` between the addition of the `data` listener and the `end` listener

[code]

[2022-02-15 12:41] rubensworks commented on #35
I'm fine with either option.

@RubenVerborgh what option do you prefer?

[2022-02-15 22:58] RubenVerborgh commented on #35
I now consider the default `autoStart` behavior to be incorrect, given https://nodejs.org/api/stream.html#readable-streams:

Hence, we must not emit an `end` (or `data`) event before a `data` listener is attached.

The `autoStart` functionality (as can be seen in the comments) was initially actually meant to indicate whether or not a stream should start buffering already. However, the above `end`

[2022-02-15 23:05] jeswr commented on #35
That sounds like a good solution with expected outcomes @RubenVerborgh - I'll let you know if I have any more thoughts in modifying #36.

This should only introduce a few breaks in the comunica 2.x - again related to `on.('metadata', ...)` use @rubensworks

[2022-02-15 23:07] RubenVerborgh commented on #35
I think Comunica needs to get the stream going by attaching an `on('data')` itself. We could also (like Node.js) introduce a `.resume` method (which I would implement basically by adding a `.on('data', noop)`).

[2022-02-16 07:44] rubensworks commented on #35
Exactly. Buffering itself is no problem.

I think this would be very valuable!

[2022-02-16 19:29] RubenVerborgh commented on #35
@jeswr Would you be up for the challenge? It would replace #36. (Sorry about that; but it's your work there that gave me the insights!)

[2022-02-16 20:02] jeswr commented on #35
@RubenVerborgh I made a start on it yesterday and will be try and do the rest today

[2022-02-16 20:05] RubenVerborgh commented on #35
Amazing; really grateful to have you on this.

[2022-02-18 06:30] jeswr commented on #35
Still working on this,  I just wanted to check I'm on track with some of the decisions I have made in terms of other slight changes in behaviour as a result of this (I've done my best to keep it in line with the Readable API behaviour).

- `.readable` is true when data is available. This means that the 'end' event can be emitted after .readable is false.

- `.ended` becomes true *directly after* t

[2022-02-18 08:06] RubenVerborgh commented on #35
…when data _might_ be available. So I think even the `EmptyIterator` would start with `readable: true` now; but the moment you attach a `data` listener, it never fires. Only `end`.

Correct.

Likely, but I don't think it _needs_ to be this strong.

Currently, it is allowed for an iterator to have `ended: true` before all listeners have received the `end` event;
however, this only happens in `Empty

[2022-02-18 10:04] jeswr commented on #35
TLDR; I agree with all the feedback; I have a lot more clarity on how to finish this off.

 Yes

 Yes I've done this, it only broke on test in the `EmptyIterator` unit tests and that can be deleted anyway

 Good thought - I think this is cleaner than the direction I was starting to head with the `ENDING` state.

I was making modifications so that in the `_end` call the `this.emit('end')` was delay

[2022-02-18 16:30] RubenVerborgh commented on #35
I found that

—https://nodejs.org/api/stream.html

so I think we can just do that same.

Yes, let's do that!

That's correct; those can only happen after emitting the final `end` event.

[2022-02-19 06:39] rubensworks opened #37 "Add toArray method"
While conserving the stream should be encouraged, there are still many use cases where converting the stream to an array is needed.
This is often done using arrayify-stream now, but this introduced the overhead of installing an additional package.
For developers, it would simplify things a lot if there was an (async) `toArray` method available, which would fully consume the stream and produce an a

[2022-02-19 07:49] RubenVerborgh commented on #37
Great, absolutely! (Might take an optional object with limit parameter for infinite iterators?)

[2022-02-20 00:24] jeswr opened #38 "Optimize ArrayIterator"
It currently uses `.shift` which is a O(n) operation. So it costs O(n^2) to iterator over.

[2022-02-20 00:28] jeswr commented on #37
@rubensworks - agreed this would be very useful; so long as you are just using consuming the data using the `data` and `end` events you should be able to do this without creating conflicts with what I am doing to resolve #35 (don't branch of #36 as a lot of those changes are not included in what I'm doing, just go off the main branch instead).

P.S. sorry for the delay - I'll push what I have toda

[2022-02-20 00:36] jeswr opened #39 "use native `queueMicrotask`"
Since there is a native [`queueMicrotask`](https://developer.mozilla.org/en-US/docs/Web/API/HTML_DOM_API/Microtask_guide) function it may be worth considering using it rather than calling `.then` on a resolved promise.

[2022-02-20 00:37] jeswr commented on #39
While there have been tricks available that made it possible to enqueue microtasks in the past (such as by creating a promise that resolves immediately), the addition of the [queueMicrotask()](https://developer.mozilla.org/en-US/docs/Web/API/queueMicrotask) method adds a standard way to introduce a microtask safely and without tricks.

By introducing queueMicrotask(), the quirks that arise when sn

[2022-02-21 06:34] jeswr commented on #38
The BufferedIterator will also suffer similar performance issues when the maxBufferSize, as does the `MultiTransformer` with a large transformerQueue.

[2022-02-21 07:44] rubensworks commented on #37
Not sure. I had in mind that this method would arrayify elements that have not been consumed yet. E.g., if the user has already called `read()` several times, then I would expect these elements to not be included in the resulting array.
But a sliced version of the array might be possible though (but I would leave that as a possible optimization if needed).

[2022-02-21 11:03] jeswr commented on #35
@RubenVerborgh  Apologies for dragging this out - another places that I just realised the original implementation was going against the `Readable` spec is the following:

Calling readable.pause(), readable.unpipe(), or receiving backpressure will cause the readable.readableFlowing to be set as false, temporarily halting the flowing of events but not halting the generation of data. **While in this

[2022-02-21 11:39] rubensworks commented on #35
Indeed, shouldn't be a problem for Comunica.

[2022-02-21 21:12] RubenVerborgh commented on #35
But the original implementation did not do `pause`, right?

Fine with me. The boatload of tests was more to ensure consistent behavior wrt race conditions; what exactly the behavior is, can be determined for every major version—as long as it is self-consistent.

[2022-02-21 22:55] RubenVerborgh commented on #39
But that's what we're doing? https://github.com/RubenVerborgh/AsyncIterator/blob/98565fd19b894a8941480740674301cd85ec2309/taskscheduler.ts#L5-L7

[2022-02-22 04:11] jeswr commented on #39
Oh yep - brainslip, nevermind!

[2022-02-22 04:11] #39 closed

[2022-02-22 08:38] RubenVerborgh commented on #38
All major JavaScript engines implement behavior that is closer to O(1), see:
- https://lannonbr.com/blog/2020-01-27-shift-optimizations
- https://bugzilla.mozilla.org/show_bug.cgi?id=1348772
- https://github.com/frida/v8/blob/main/src/builtins/array-shift.tq

Trying to be faster ourselves will most likely have the opposite effect.

[2022-03-11 06:49] jeswr opened #42 "feat: allow Unioniterator sources to be a Promise that resolves to an AsyncIterator"
A straightforward implementation should just be applying `wrap` to the source if it is a Promise in the `_addSource` method.

[2022-03-13 03:14] jeswr opened #44 "optimization: Reduce overhead of SimpleTransformIterator"
For basic methods like `.map` and `.filter`, on `AsyncIterator`, using the `SimpleTransformIterator` introduces uneccessary overhead via the `readAndTransformSimple` operator. To improve performance in applications like Comunica it may be worth creating custom iterators with simpler read methods; for instance a synchronous `MapIterator` could skip buffering entirely and just be implemented as some

[2022-03-13 09:33] jacoscaz commented on #44
Indeed, chained buffering steps might explain the slowdowns I’ve seen. Normally I would expect performance to slow down linearly with the number of chained transforms but often I see slowdowns that seem somewhat exponential. I had been under the impression that methods such as `map()` and `filter()` behaved as you described but, given this issue, I was either plain wrong or possibly remembering a

[2022-03-13 09:42] rubensworks commented on #44
@jeswr Do you think think the slowdown is caused by the complexity of the code in `readAndTransformSimple`, or the fact that it fills an internal buffer? If the latter, just disabling the buffer on intermediary iterators might also improve overall performance.

[2022-03-13 09:55] jeswr commented on #44
@rubensworks I'd suspect you're correct in that the intermediary buffers are the main overhead.

I was thinking that one way around this is to have a 'chained transform' which applies multiple map/filter/transform operations in one go, so long as each part of that chain is synchronous - is this equivalent to what you mean by disabling internal buffers?

[2022-03-13 09:57] jeswr commented on #44
@jacoscaz - no I have not done profiling, it was just an observation I made when digging through the code when working on a PR I made earlier

[2022-03-13 10:13] jacoscaz commented on #44
Would this not require knowing what those transformations look like ahead of time? Unless, perhaps, one were to have all intermediate actors return a transform function and have the final actor concatenate these.

However, if all intermediate steps were to be implemented as iterators without internal buffering as you suggested, provided an initial buffered iterator for I/O queries (i.e. reading fr

[2022-03-13 10:40] jeswr commented on #44
I was thinking that methods like `map`, `filter` and `transform` would add to the internal set of operations that need to be done and then return the same iterator. The major caveat of this being that this would affect upstream reads of the iterator if there are any

That sounds great but I'd wait for #43 to be merged as there may introduce some small performance changes

[2022-03-13 12:09] jacoscaz commented on #44
I suspect that the concatenation mechanism might be a non-trivial one, and it would have to be instantiated even for single-op iterators unless we were to make it a lazy one, which would make it more complicated. Nonetheless, I think there’s definitely something to be said for combining operations. For example, could Comunica benefit from a `mapFilter()` iterator?

In any case, we should probably

[2022-03-13 20:53] RubenVerborgh commented on #44
Is the `SimpleTransformIterator` being used in performance-sensitive code?

My goal for it was to be used for simple cases—and definitely not for chaining.
I guess I should have been more explicit about that.

For chaining, you want to define your own sync or async transform iterator.

[2022-03-13 23:30] jeswr commented on #44
Because of [this](https://github.com/RubenVerborgh/AsyncIterator/blob/7a089e36e8c33c35b27b34cd670518f2fa51acce/asynciterator.ts#L446-L534) the use of `.map`, `.filter`, `.transform` etc. *all* create a new `SimpleTransformIterator` and hence there are many places in Comunica that create new `SimpleTransformIterator`s for instance

Mapping:
- https://github.com/comunica/comunica/blob/4c66bfaa44f737

[2022-03-14 07:31] RubenVerborgh commented on #44
Absolutely, thanks for finding this. We probably want:
- Dedicated `MapIterator`, `FilterIterator`, …
- A check within the `SimpleTransformIterator` that, if only `map` or `filter` are requested, one of the dedicated iterators is instantiated instead.

[2022-03-23 18:56] jacoscaz commented on #44
@jeswr could you have a look at this gist of mine? https://gist.github.com/jacoscaz/e20812991714092dbb20cfd432d1bf00

Either I got something wrong or there's virtually no performance difference between `.map()` and a dedicated mapping iterator.

[2022-03-23 22:24] jeswr commented on #44
To summarize the results I have in the following comments
1. `ArrayIterator` causes about a 5x speed degradation compared to `range` iterator on 20000 elements (because as I raised [here](https://bugs.chromium.org/p/v8/issues/detail?id=12730) the V8 implementation of `Array.shift` is still very suboptimal).
2. Using the `range` iterator on 20000 elements and using custom `MapIterator` / `FilterIte

[2022-03-23 22:58] jeswr commented on #44
With the PR (https://github.com/RubenVerborgh/AsyncIterator/pull/45) I have made I get; for the `ArrayIterator` method

[code]
and for the `range` method I get

[code]

As a summary, using the `range` iterator and doing 50 transformations we get

|| Current Version | New PR |
|-| ---------------------| ----------|
|`ArrayIterator#map()`|1005|944|
|`MappingIterator`|143 | 126 |

To do this I used t

[2022-03-23 23:11] jeswr commented on #44
I've also implemented a `FilterIterator` against my PR (below), for 50 iterations on `range` the results are

[code]

[code]

[2022-03-24 00:04] jeswr commented on #44
Sorry to keep spamming this thread - I've also implemented a `CompositeIterator` and it also shows non-trivial performance gains relative to just repeatedly applying the `MapIterator` and `FliterIterator` (~10-15% improvement)

[code]

[code]

[2022-03-24 02:56] jeswr commented on #44
You can see a further 50-100% performance improvement by 'pre-compiling' the `CompositeTransform` - see https://gist.github.com/jeswr/f49a6975f1bfc088a9c32565e69761bf

[2022-03-24 09:11] jacoscaz commented on #44
@jeswr if all spam were like this we'd all be much happier about spam. Seriously, awesome work.

Although I was not expecting `shift()` to be optimized to the extent implied by @RubenVerborgh , I was also not expecting it to be slow to the point of eclipsing other differences in my tests. Unexpected and very good to know.

The latest revision of my gist at https://gist.github.com/jacoscaz/e2081299

[2022-03-24 12:26] jeswr commented on #44
Impressive - and I can't see any problems with it; though I wonder why it also seems to be a much greater improvement than using `range` (i.e `IntegerIterator`).

Makes sense - I think there should be ways to give the feel of Immutability to the API (or at the very least throw meaningful errors for devs when they misuse a Mutable AsyncIterator) while using mutations like this under the hood for pe

[2022-03-24 12:39] RubenVerborgh commented on #38
Given the discussion in #44, we might want to see if alternatively implementations (notably a linked list) would speed this up.

[2022-03-24 14:22] jacoscaz commented on #38
@RubenVerborgh interesting you should say that... I thought exactly the same, and came up with https://github.com/jacoscaz/AsyncIterator/blob/42311b68988a971fc072c896100d7082b4162470/asynciterator.ts#L744-L783 . I'm still testing it. Interested in a PR?

[2022-03-24 14:23] RubenVerborgh commented on #38
That's quite perfect and exactly what I had in mind!
Curious about perf; PR welcome!

(Nit: perhaps we should have that code in a separate file and include it.)

[2022-03-24 14:50] jacoscaz commented on #44
@jeswr  as I was investigating this, I came up with the same idea as https://github.com/RubenVerborgh/AsyncIterator/issues/38#issuecomment-1077584185 and had a go at it in https://github.com/jacoscaz/AsyncIterator/blob/42311b68988a971fc072c896100d7082b4162470/asynciterator.ts#L744-L783 . I'll make a PR later but I just realized we've put quite a lot of things on the table and we should probably ma

[2022-03-24 15:00] jeswr commented on #44
Indeed - but its also probably worth tracking https://bugs.chromium.org/p/v8/issues/detail?id=12730 in case the V8 team solves this upstream for us.
You would also want to delete the source buffer on the end event in your implementation.

Nice!

Standalone it is only approx a ~2x improvement - IIRC the 100x figure came from compounding most of the factors above

I'd say this should be a new librar

[2022-03-25 10:33] jacoscaz commented on #44
Makes sense!

In _theory_, this should be mitigated by #46 although my testing has shown a significantly smaller performance gain than I had expected. @jeswr  do you have time to do some testing of that branch on your use cases?

Still, doing away with buffering entirely would be a good idea, given the gains seen in #48 . I think we could port the source wrapping part of `TransformIterator` into a

[2022-03-25 12:03] jeswr commented on #44
I've not done any benchmarking for `wrap` - I imagine a degenerate case would be wrapping something like the `range` iterator with a large number of iterations. Such a case, however, is a prime example of where doing away with buffering entirely would be better.

Sounds good to me

[2022-03-25 12:28] RubenVerborgh commented on #44
Happy to have it here, really. Could be a separate file though (and maybe we could also split the code into more separate files in general).

[2022-03-26 04:50] jeswr opened #52 "optimization: Implement UnionIterator without buffering"
In the `UnionIterator` I don't see the necessity of buffering elements; since, unless you are taking a union over a *huge* number of iterators, the cost of testing all the unterminated iterators to see if they have an element available is likely it be an inexpensive operation; and thus should just happen on the `read` call; rather than in `_read` on a BufferedIterator.

[2022-03-26 16:34] #42 closed

[2022-03-26 16:38] #37 closed

[2022-03-26 16:38] #38 closed

[2022-03-28 13:40] RubenVerborgh opened #56 "Update README to better explain state of the art"
Including async generators

[2022-03-31 04:17] jeswr commented on #52
Similar with the multiTransformIterator (should buffer the transformers but not their elements, ..., I think). The main downstream effects would be at https://github.com/comunica/asyncjoin/blob/main/join/DynamicNestedLoopJoin.js and https://github.com/comunica/asyncjoin/blob/main/join/NestedLoopJoin.js

[2022-04-03 09:23] jeswr commented on #44
As discussed with @jacoscaz the proposed timeline for resolving this issue is

(1) Get full coverage on current state of #57 . Perhaps minus the `SyncUnionIterator` for now, and then get the contents of that PR merged into main (likely broken across a few PRs).

(2) Merge #45, because this resolves a lot of issues I had for the `SyncUnionIterator` as it allows the iterator to enter a done state in

[2022-04-03 21:14] jacoscaz commented on #44
In addition to the above plan shared by @jeswr , if nobody else needs these changes to live within a single branch for testing purposes I would suggest breaking the work done across the following PRs, to be refined and merged in order:

1. **Faster synchronous transforms**, which would include `SynchronousTransformIterator` and its subclasses `MappingIterator`, `FilteringIterator`, `SkippingIterat

[2022-04-03 21:24] RubenVerborgh commented on #44
Thanks for all the work and please proceed, with the following caveats:
- #45 is a semver.major so anything before that will be the last 3.x, and anything after that will become part of 4.x
- I'm not sold yet on `SynchronousTransformIterator`; I'd need to see a clean version of the code, but things like `maybeMap` sound like over-optimizations
- Given the impact of some changes, I'll need measurab

[2022-04-03 21:40] jacoscaz commented on #44
@RubenVerborgh is it the overall approach that does not convince you or is it the fact that we might have pushed it too far with things like `maybeMap`? Asking just so I can better direct my efforts. The `SynchronousTransformIterator` class per-se is just a way to centralize a bunch of code shared by `SkippingIterator`, `MappingIterator` and so on. Totally understand if you need a cleaner version

[2022-04-03 21:42] RubenVerborgh commented on #44
At the moment, I can't see the forest for the trees; the code needs a bit of love still. And some bits might take it too far indeed.

[2022-04-05 07:04] jeswr opened #60 "LinkedList optmizations"
Noting that the V8 engine has similar optimizations to firefox for *up to* 50_000 elements, we *could* do the following (~2x speedup).

[code]

Results
LinkedListNext: 892.099ms
LinkedList: 2.283s

[2022-04-05 09:59] RubenVerborgh commented on #60
Yes—but the test above is benchmarking a situation that should never happen.
It tests the pattern:
- 50,000,000 elements in
- 50,000,000 elements out

However, actual patterns will look like this:
- 2 elements in
- 1 element out
- 1 element in
- 2 elements out
- 4 elements in
- 1 element out
- …

So we'd need evidence that the performance gains translate to frequent additions/deletions.

Separatel

[2022-04-05 10:22] RubenVerborgh commented on #60
I created a quick example:

[code]

which yields for me

[code]

And this includes the fact that `LinkedListNext` keeps a lot of items in memory.

[2022-04-06 02:28] jeswr opened #61 "Iterators 'blocking' each other"
I suspect that this may be caused by https://github.com/RubenVerborgh/AsyncIterator/issues/35 so don't worry for now.

---

This is a potential issue that I saw when perf testing the current PRs, but also saw in main.

If I run (on the main branch)

[code]

then the result is

[code]

(as opposed to ~3000ms for one)

I suspect the issue is that the `end` event is called asynchronously so has to wa

[2022-04-06 02:32] jeswr opened #62 "Feat: Performance Tests"
In light of the current work being done, it may be worth looking into getting some CI workflows running that do performance tests on this code in a consistent environment (perhaps something like https://stackify.com/node-js-performance-tuning/) so that there are no performance regressions in the future.

At the same time possibly set up similar workflows in Comunica, @rubensworks do you think some

[2022-04-06 05:39] jacoscaz commented on #61
I'm not entirely sure about my assumptions here but this should generate a significant amount of CPU contention between iterators as we're still single-threaded (-ish, I know there's some magic happening in V8) and there's no I/O anywhere.

On my machine, the time per item remains constant and the total time scales linearly with the overall number of items, regardless of the number of (quasi-)para

[2022-04-06 11:22] rubensworks commented on #62
@jeswr Great idea! Could you have a first go at writing out a bounty issue over at the Comunica repo?
Depending on what you have in mind exactly, it might make sense to partially build upon https://github.com/comunica/rdf-test-suite-ldf.js

[2022-04-14 01:02] jeswr opened #66 "AsyncIterator-ext Package"
In order to support some more niche use-cases I am coming across I was wondering if it is worth creating an `AsyncIterator-ext` package (see example below).

IMO the best way to go about this would be:
 - Create an `AsyncIterator` organisation
 - Move the `AsyncIterator` repo to a repo in this organisation **[Requires @RubenVerborgh due to repo permissions]**
 - Create a monorepo of extension comp

[2022-04-14 01:05] jeswr opened #67 "Performance: Imrove performance of `append` and `prepend`"
See use case for `append` in #66 .

IMO the cleanest way to do this would be to add a parameter to the `UnionIterator` in #65 that requires the iterators in the union to be consumed sequentially, and then for `append` and `prepend` to just return a `union` of the current source, and the data to `append`/`prepend`.

@jacoscaz - do you have any thoughts on this?

[2022-04-14 10:10] RubenVerborgh commented on #66
I'm not opposed, but I wonder if that's needed.

AsyncIterator should be split into multiple files, and then people can just import what they need?

[2022-04-14 10:14] jeswr commented on #66
As long as you are happy to include that kind of functionality in the main package I'm happy to split the files and add these extensions as separate files once all of the current work around perf. settles down.

[2022-04-14 10:19] jacoscaz commented on #66
If we're talking about something for the next major release, I would also suggest getting rid of commodity prototypal methods entirely as they bind classes to one another, preventing tree-shaking.

[2022-04-14 10:27] RubenVerborgh commented on #66
Which ones?

[2022-04-14 10:28] RubenVerborgh commented on #66
Indeed! Stay tuned; health and time permitting, I'll get to the perf issues and prepare the next release.

[2022-04-14 14:19] jacoscaz commented on #67
IMHO this is a (very) good idea, although I'm unsure as to how complex the final solution might be. Could be worth having a `SequentialUnion` iterator if having everything in one class becomes too much.

[2022-04-14 20:17] jacoscaz commented on #66
@RubenVerborgh the fact that `map()`, `filter()`, `union()` `transform()`, `prepend()`, `append()` and so forth are all defined on the prototype of `AsyncIterator` means that the respective classes `MappingIterator`, `UnionIterator`, `TransformIterator`, etc... cannot be tree-shaken from one another even when only one of those subclasses is used. AsyncIterator is likely not big enough for this to

[2022-04-14 20:51] RubenVerborgh commented on #66
Thanks! I think it's quite okay and in fact crucial to have these methods, for performance and other reasons. (If they're methods, then subclasses can redefine them for more optional ones.) Some iterators are just core and don't need shaking off (we're talking about 3–4 iterators).

[2022-04-20 12:58] jacoscaz commented on #44
A few comments to keep everyone in the loop and for posterity...

While working on **5. Faster cloning**, I've realized that my assumptions about the relative performance of `Array#push()` and `LinkedList#push()` were wrong. Even when dealing with millions of elements, `Array#push()` consistently outperforms `LinkedList#push()`. Furthermore, `ClonedIterator#read()` already bypasses `BufferedIterat

[2022-04-20 13:25] RubenVerborgh commented on #44
That is expected; but what we need to know is the behavior for repeated pushes and pulls, cfr. https://github.com/RubenVerborgh/AsyncIterator/issues/60#issuecomment-1088528533

[2022-04-20 13:36] jacoscaz commented on #44
As far as my understanding goes and limited to cloning, nothing is ever pulled from the backing buffer as the entire history  _starting from when the first clone is created_ (EDIT) is maintained for future cloned iterators to go through; we only care about pushes done at https://github.com/RubenVerborgh/AsyncIterator/blob/fec14f4d19e3d594bc385b927863ebf80a792580/asynciterator.ts#L1845

Nonetheless

[2022-04-20 14:13] RubenVerborgh commented on #44
But that's because no data is ever pulled from it.

[2022-04-20 15:42] jacoscaz commented on #44
Yes, precisely! What I meant in https://github.com/RubenVerborgh/AsyncIterator/issues/44#issuecomment-1103902591 is that, given that `HistoryReader` only pushes to its internal buffer while never pulling from it (by design) and given the fact that `Array#push()` outperforms `LinkedList#push()` even with millions of items, there's no more reason for me to work on a `LinkedList`-backed refactoring o

[2022-05-11 12:08] jeswr opened #69 "Possible memory leaks"
Apologies in advance that this issue is not very concrete! I'll elaborate more once I get a chance to do some proper profiling.

After running [this benchmark](https://github.com/comunica/comunica-feature-reasoning/blob/chore/benchmark-forward-chaining/packages/actor-rdf-reason-forward-chaining/perf/ActorRdfReasonForwardChaining-perf.js) on the forward chaining reasoning components in Comunica I'v

[2022-06-01 00:36] jeswr opened #70 "Make @types/node a dependency (rather than devDependency)"
If I install the `asynciterator` package in a new node project, then methods like `.on` are not shown in my type hints because typescript cannot guess the type of `EventEmitter` which `AsyncIterator` extends.

@types/node needs to be added as a dependency to resolve this (see https://stackoverflow.com/questions/45176661/how-do-i-decide-whether-types-goes-into-dependencies-or-devdependencies)

[2022-06-01 00:45] jeswr commented on #61
Just ran some tests that seem to support what @jacoscaz is saying here

Experiment
[code]

Results
[code]

[2022-06-01 07:39] RubenVerborgh commented on #70
Fine with me, but do we have a TypeScript-authoritative answer? Especially `@types/node` is tricky, because the actual type will not depend on the package version that we pick, but on the actual Node runtime. Is peer dependency perhaps an option?

[2022-06-01 07:58] rubensworks commented on #70
In Comunica, we also always include types as actual dependencies. For things such as `@types/node`, we use the version `*` range, so that the dep will always be available, but downstream users can still choose what version they use.

[2022-06-24 16:20] RubenVerborgh opened #73 "Remove self"
Not needed anymore now that arrow functions are common.

[2022-06-27 06:02] jacoscaz commented on #44
Update for posterity and to keep track of the general progress on this. Tagging @rubensworks @jeswr @RubenVerborgh .

Open PRs that we're working on, to be reviewed / merged / rebased in order:

1. Faster synchronous transforms
    - ~~https://github.com/RubenVerborgh/AsyncIterator/pull/59 by @jeswr~~ superseded by
    - ~~https://github.com/RubenVerborgh/AsyncIterator/pull/75 by @jeswr~~ MERGED!

[2022-06-27 06:24] jacoscaz commented on #69
Interesting. Does that imply that there's memory that isn't being returned to the OS even after the `node` process has gone?

For non-trivial memory leaks I suggest testing with jemalloc for a more complete picture of what is going on. It's relatively easy to do so and it's well documented at https://sharp.pixelplumbing.com/install#linux-memory-allocator .

I've already encountered three different

[2022-07-31 15:56] jacoscaz commented on #44
We're halfway through! Faster unions are next. @RubenVerborgh @jeswr  @rubensworks do you think we can get these merged by the end of august?

[2022-07-31 16:06] jeswr commented on #44
@jacoscaz 4 might be a significant amount of work to rebase and check for correctness; so I wouldn't bet on that by end of August. The other two *should* be much less work but will depend on everyones schedules.

[2022-08-01 07:12] RubenVerborgh commented on #44
My plan is to wrap up AsyncIterator v3.x soonish; the moment we start tackling #45, we're in the v4.x territory.
But I guess a v4.x alpha could be possible.

[2022-08-01 07:25] jacoscaz commented on #44
@RubenVerborgh @jeswr perhaps it would make sense to do faster unions and the synchronous transform iterator first, wrapping up 3.x, and leave end on read last. Would that work for you guys?

[2022-08-01 07:28] jeswr commented on #44
I agree with the strategy - will try and wrap up work on the faster unions today

[2022-08-01 16:31] jacoscaz commented on #44
Update for posterity and to keep track of the general progress. Tagging @rubensworks @jeswr @RubenVerborgh .

Open PRs that we're working on, to be reviewed / merged / rebased in order:

#### non-breaking, to be released in minor 3.x versions:

1. Faster synchronous transforms
    - ~~https://github.com/RubenVerborgh/AsyncIterator/pull/59 by @jeswr~~ superseded by
    - ~~https://github.com/RubenV

[2022-08-17 09:24] rubensworks opened #83 "WrappingIterator does not destroy sources"
Unlike other iterators, the new WrappingIterator does not destroy sources on end, nor has it a `destroySource` option.

This will likely result in problems where iterators keep running internally for a while (or infinitely), even though they can be stopped.

[2022-08-17 11:00] jacoscaz commented on #83
Good point. Is anyone already working on this? I can have a look if not.

[2022-08-17 11:02] rubensworks commented on #83
I'm not working on it, so feel free to have a go at it @jacoscaz :-)

For this, it would be good to also keep #84 in mind.

[2022-08-18 11:30] rubensworks opened #86 "Discussion: Destroy propagation in callback-based TransformIterator"
I don't think it's really a bug, but nevertheless, I think it deserves some discussion.

Yesterday, I discover some edge-cases in which chained iterators would keep on running (due to an infinite iterator in the chain), even though the head of the chain was destroyed.
While destroy calls should be propagated (unless `destroySource` is set to `false`), this was not happening in this case.

The root

[2022-08-22 19:49] #83 closed

[2022-08-22 20:16] RubenVerborgh commented on #60
I'll close this for now until new evidence emerges.

[2022-08-22 20:16] #60 closed

[2022-08-22 20:16] RubenVerborgh opened #87 "Move each iterator to its own source file"

[2022-08-22 20:53] RubenVerborgh commented on #86
Thanks for reporting; however, I don't fully understand the case yet. What is the relationship between `baseIterator` and `transformIt`?

[2022-08-23 10:50] rubensworks commented on #86
Ah, apologies, there was a typo in the example. Updated now, should make more sense :-)

[2022-09-13 13:35] jeswr opened #88 "potential bug: `wrap` now autostarting iterators that were previously not autostarted prior to optimisation work"
Placeholder - will try create a minimal example or debug tommorow :)

[2022-09-20 05:14] jeswr commented on #88
On buggy case that I encountered today is the following which blocks on the second line

[code]

cc @jacoscaz

[2022-09-20 09:47] RubenVerborgh commented on #88
Note that I slightly changed `toArray` behavior in 174d87cb: I found a bug where iterators that had already ended would cause a hang. Probably unrelated though.

[2022-09-20 11:27] jeswr opened #89 "Feat: Make asynciterator asynciterable"
In particular this logic https://github.com/LDflex/LDflex-Comunica/blob/f01ece6fa8cee720061efd5ddd23ed82921555e4/src/ComunicaEngine.ts#L158-L215 should be implemented as the `[Symbol.asyncIterator]` method of `AsyncIterator`

[2022-09-20 11:50] jeswr opened #90 "Migrate to use a different event emitter base"
While we are doing a semver upgrade we may also want to migrate to use https://www.npmjs.com/package/eventemitter3 which appears to be a much less bloated; and more optimised version over the `EventEmitter` compared to what I've seen in the NodeJS core.

[2022-09-20 11:53] RubenVerborgh commented on #90
I'm interested, although:

But we can get around these limitations.

Just a note that AsyncIterator might be bundled together with other Node.js code, which would use the native `EventEmitter`, so it's not certain that we would remove bloat. But happy to give it a go.

[2022-09-21 07:14] jacoscaz commented on #90
Just FYI and for when the time comes, I can easily run a few tests by forcing the build of quadstore-comunica to use `eventemitter3` instead of `events`.

[2022-09-21 07:24] jacoscaz commented on #89
This would be very convenient, although we should also carefully measure differences in performance and highlight them in `README.md` as refactoring from one approach to the other is likely a non-trivial effort.

[2022-09-21 07:27] rubensworks commented on #89
Related to #56

[2022-09-21 07:27] jacoscaz commented on #88
Given the conversation around https://github.com/RubenVerborgh/AsyncIterator/pull/45, should we address this before that merge or after?

[2022-09-21 08:23] RubenVerborgh commented on #88
I think before; this seems like a bug that we still want fixed in the current vminor.

[2022-09-21 10:15] jacoscaz commented on #88
@jeswr I'm not sure that is related to `autoStart`, actually. If `autoStart` is passed as an option to `wrap()`, regardless of its value, then the source is passed on to the `TransformIterator` constructor:

https://github.com/RubenVerborgh/AsyncIterator/blob/915a85734824809cc65b189d3e095c590da1334b/asynciterator.ts#L2127-L2128

However, with the current `main` the following doesn't work:

[code]

[2022-09-21 10:20] RubenVerborgh commented on #88
Indeed; that is not supported. I would have expected the type system to catch it, and `TransformIterator` to throw (because it cannot attach listeners).

[2022-09-21 10:22] RubenVerborgh commented on #88
Is it this? 25085c4a5b2f5fa5f15979cc8f9266e42465cfa3 / https://github.com/RubenVerborgh/AsyncIterator/pull/80

[2022-09-21 10:24] jacoscaz commented on #88
I think the issue is at line 2128 (see above), which is in the body of `wrap()`. `source` (which might be an array) is being cast to `MaybePromise<AsyncIterator<T>>`, thus bypassing type checks in the `TransformIterator` constructor.

[2022-09-21 10:28] RubenVerborgh commented on #88
I think the intention of the original `wrap` typing was to not accept `autoStart` options for `IterableSource`, and thus only for `AsyncIterator`. So now the question is: do we adhere to the intended typings, or do we update the function such that options are possible also for `IterableSource`?

In any case, it does not seem like a regression because this would not have worked before the `wrap` re

[2022-09-21 10:33] jacoscaz commented on #88
IMHO and looking very long-term, the `autoStart` option should disappear (https://github.com/RubenVerborgh/AsyncIterator/issues/25) . When working on new features I would try to limit support for it as much as possible while keeping backward compatibility when it comes to minor versions. I would adhere to the intended typings, disallowing `autoStart` for `IterableSource`s.

[2022-09-21 10:35] RubenVerborgh commented on #88
`autoStart` will absolutely disappear in the next vmajor.

@jeswr Are you okay with restricting the typings, so reverting the solution to #80? (Which begs the question, for which kinds of arguments _do_ we want to allow the `autoStart` option?)

[2022-09-21 10:53] jeswr commented on #88
In #45 I renamed it to `preBuffer` (I think @RubenVerborgh s suggestion). It should only be available on iterators that extend the buffered iterator. When true the buffer will be pre-filled before the first `.read()` call; when `false` the buffer will remain empty until the first `.read()` call is made.

[2022-09-21 10:55] jeswr commented on #88
In the case of `wrap` I think we should remove the options parameter entirely to be completely honest. By setting `maxBuffer` or `preBuffer` users can suddenly introduce buffering even if they are just wrapping synchronous iterators.

I think it is better to force users to use the `TransformIterator` in the limited cases where they actually want to use it (I imagine there are less than a handful a

[2022-09-21 11:22] RubenVerborgh commented on #88
But we can't for backward compatibility reasons.

…and we probably don't want this kind of inheritance anymore, btw. I think we should do away with `BufferedIterator` as a base class, and only have it as a decorator where it is needed.

[2022-09-21 11:37] RubenVerborgh commented on #88
@jacoscaz Path of least resistance seems to be accepting arrays; see #91.

[2022-09-21 11:42] RubenVerborgh opened #92 "What happens to iterators after they error?"
Should they be closed? Destroyed? Should there be a special stated for iterators that errored?
Or is recovery possible?

[2022-09-21 11:42] jeswr commented on #88
This suggestion was for the next vmajor

[2022-09-21 11:46] #88 closed

[2022-09-21 14:41] jacoscaz commented on #88
Yes, buffering and transforms are orthogonal concerns and addressing them independently of one another might be a good idea.

[2022-09-22 05:53] jeswr opened #93 "Investigate macroTasking"
See if we can remove macroTasking behavior - in particular see if we are able to do something like the following after fixing autoStart behavior

[code]

[2022-09-22 06:15] rubensworks commented on #93
For reference, there's a long history behind this: #13

[2022-09-23 11:35] RubenVerborgh commented on #93
Back in my days we used to `DoEvents`, my friends 👴
Also relevant is https://github.com/RubenVerborgh/AsyncIterator/pull/29.

But given this history, shall we stick to the existing behavior, @jeswr?

[2022-09-23 11:43] jeswr commented on #93
Most likely - but I would still like to leave this open to investigate. This is because issue of  "As discovered in https://github.com/comunica/comunica/issues/826, some use cases may lead to extensive microtask usages" may be resolved in https://github.com/RubenVerborgh/AsyncIterator/tree/breaking/v4 by doing things like ensuring that `readable` events can only be queued once per-tick per-iterato

[2022-09-23 11:46] RubenVerborgh commented on #93
Gotcha; I do however think that:
1. There might always exist long chains of events, which result in long event queues that need interrupting (just like long recursion can also always occur in synchronous programming)
2. We might not want clients to bind on microtask semantics

But if we can conclusively disprove 1, then I'm happy to go ahead.

[2022-09-23 11:51] jeswr commented on #92
My proposal is that
1. Iterators from this library only error during a `.read()` call (or whilst in flowing mode when a `data` listener is attached).
2. If there is at least one `error` listener - the error is forwarded. Otherwise an error is thrown.
3. Following the `error` event the iterator is destroyed.

[2022-09-23 11:57] RubenVerborgh commented on #92
I don't think we can enforce that; errors can happen at any random moment.
So when not in flowing mode, the iterator might be preparing something that results in an error.
And there is no guarantee (!) that the `read` method will be called, so the error would be lost.
Plus we need to be able to accept Node.js `Readable`, which are allowed to random error.

Check.

Note that proper destruction migh

[2022-09-23 11:59] RubenVerborgh commented on #93
Actually the more relevant issue is https://github.com/RubenVerborgh/AsyncIterator/issues/17#issuecomment-646962168, sorry. #29 only changed the kind of macrotask.

[2022-09-23 12:01] rubensworks commented on #92
Yes, I think destroying after error makes sense (at least as default). Can't think of any cases atm where you wouldn't want this.

[2022-09-23 12:08] jeswr commented on #92
Rather than immediately forwarding an error we can store a `pendingError` and to set the iterator to `readable` at that time; the next `read()` call would then cause the emission of the `pendingError`.

Hmm good point

[2022-09-29 06:31] jeswr commented on #69
Similarly I think we should try testing with this too https://facebookincubator.github.io/memlab/docs/intro.

[2022-11-11 14:02] RubenVerborgh commented on #86
It's a matter of ownership indeed; the `baseIterator` was created outside of the `TransformIterator`, and ownership was never transfered.

Perhaps a `destroyed` event is what we need then?

[2022-11-14 09:41] rubensworks commented on #86
Yes, I think that would help for these cases.

[2022-11-14 11:11] RubenVerborgh opened #95 "Emit destroyed event once upon destroy"
As in https://github.com/RubenVerborgh/AsyncIterator/issues/86#issuecomment-1313381369

[2022-11-14 11:11] RubenVerborgh commented on #86
Super, following up in https://github.com/RubenVerborgh/AsyncIterator/issues/95

[2022-11-14 11:11] #86 closed

[2022-11-19 21:13] gsvarovsky opened #96 "Intermediate async iterator does not correctly emit readable event, unpredictably"
I'm getting a behaviour that appears to be caused by a residual task scheduler ordering issue, related to #28.

I have a number of unit tests that involve async iterators returned from node-quadstore. In some cases the test can hang and timeout. The hangs are consistently reproducible but unpredictable. If some tests are skipped, the hang happens in a different place; but the tests are fully indep

[2022-11-20 01:49] jeswr commented on #96
Hi @gsvarovsky thanks for the report! Just so you are aware; I'm working on a rewrite of this library, and that rewrite is more determinate about how the end, and readable events are emitted.

I cannot guarantee it will be released any time soon as it may take some time to properly review. But in the same token I would also not spend a significant amount of time on test scenarios that are specific

[2022-11-21 12:59] gsvarovsky commented on #96
Thanks @jeswr

Since this will be addressed by your rewrite, but in the meantime can cause hangs in tests and (theoretically) apps, I'm going to release a patch of m-ld that exclusively uses `queueMicrotask`.